Package: vtuner-client
Version: 0.1-20110624-r87
Description: virtual tuner client for DM800/DM8000/DM500HD
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: rmie <rmie@gmx.de>
Homepage: http://www.i-have-a-dreambox.com/wbb2/thread.php?threadid=116365
#Depends: dreambox-dvb-modules (>= 2.6.12-5.1-brcmstb-dm800-20100605-r0) 
#Depends: dreambox-dvb-modules (>= 2.6.12-5.1-brcmstb-dm500hd-20100605-r0)
#Depends: dreambox-dvb-modules (>= 2.6.12-5.1-brcmstb-dm8000-20100605-r0)
Depends: dreambox-dvb-modules (>=2.6.18-7.3-dm800-20100605-r0) | dreambox-dvb-modules (>=2.6.18-7.3-dm500hd-20100605-r0) | dreambox-dvb-modules (>=2.6.18-7.3-dm8000-20100605-r0)
Source: http://code.google.com/p/dreamtuner/source/browse/
